.ToDoInput input,
.ToDoInput button {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff;
}

.ToDoInput input:focus {
  border: 1px solid #2196F3;
}

.ToDoInput button {
  cursor: pointer;
}

.ToDoInput button:hover {
  background: #eee;
  border: 1px solid #aaa;
}